In [3]:
import numpy as np
import pandas as pd

In [4]:
product_info=pd.read_csv('data_combined.csv', index_col=False, dtype='unicode')

In [5]:
product_info.head()

,code,requestId,id,price,discountedPrice,styleType,productTypeId,articleNumber,visualTag,productDisplayName,...,otherFlags,articleDisplayAttr,productDescriptors,styleOptions,discountData,colours,productSpecificationEntry,associatedImageProducts,relatedStyleOptions,styleVideoAlbumList
0,NaN,NaN,10000,649,324,DEL,304,132197135028 1303,NaN,Palm Tree Girls Sp Jace Sko White Skirts,...,"[{'dataType': 'BOOLEAN', 'name': 'isFragile', ...","{'id': 74, 'core': {'order': '0', 'display': '...",{'description': {'descriptorType': 'descriptio...,"[{'id': 39001, 'name': 'Size', 'value': '2YRS'...","{'discountType': 1, 'discountAmount': 325, 'di...",NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,10001,549,274,DEL,304,132215584945 6300,NaN,Palm Tree Kids Girls Sp Jema Skt Blue Skirts,...,"[{'dataType': 'BOOLEAN', 'name': 'isFragile', ...","{'id': 74, 'core': {'order': '0', 'display': '...",{'description': {'descriptorType': 'descriptio...,"[{'id': 39005, 'name': 'Size', 'value': '2YRS'...","{'discountType': 1, 'discountAmount': 275, 'di...",NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,10002,549,274,DEL,304,132215584945 8300,NaN,Palm Tree Kids Sp Jema Skt Blue Skirts,...,"[{'dataType': 'BOOLEAN', 'name': 'isFragile', ...","{'id': 74, 'core': {'order': '0', 'display': '...",{'description': {'descriptorType': 'descriptio...,"[{'id': 39009, 'name': 'Size', 'value': '2YRS'...","{'discountType': 1, 'discountAmount': 275, 'di...",NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,10003,2695,2695,P,289,376668-100,NaN,Nike Women As Nike Eleme White T-Shirt,...,"[{'dataType': 'BOOLEAN', 'name': 'isFragile', ...","{'id': 90, 'core': {'order': '0', 'display': '...",{'description': {'descriptorType': 'descriptio...,"[{'id': 39010, 'name': 'Size', 'value': 'S', '...",NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,10004,1995,1995,P,303,393799-064,NaN,Nike Men As 7 Sw Temp Grey Shorts,...,"[{'dataType': 'BOOLEAN', 'name': 'isFragile', ...","{'id': 72, 'core': {'order': '0', 'display': '...",{'description': {'descriptorType': 'descriptio...,"[{'id': 39014, 'name': 'Size', 'value': 'S', '...",NaN,{'colors': {'22589': {'dre_landing_page_url': ...,NaN,NaN,NaN,NaN

In [6]:
product_info.shape

(44446, 49)

In [7]:
for col in product_info.columns:
    print(col)

code
requestId
id
price
discountedPrice
styleType
productTypeId
articleNumber
visualTag
productDisplayName
variantName
myntraRating
catalogAddDate
brandName
ageGroup
gender
baseColour
colour1
colour2
fashionType
season
year
usage
vat
displayCategories
weight
navigationId
landingPageUrl
articleAttributes
crossLinks
brandUserProfile
codEnabled
styleImages
lookGoodAlbum
style360Images
masterCategory
subCategory
articleType
isEMIEnabled
otherFlags
articleDisplayAttr
productDescriptors
styleOptions
discountData
colours
productSpecificationEntry
associatedImageProducts
relatedStyleOptions
styleVideoAlbumList

### Selected Features

* id
* productDisplayName
* variantName
* ageGroup
* gender
* baseColour
* displayCategories
* productDescriptors
    * description
        * value

In [8]:
product_info=product_info[['id','productDisplayName','variantName','ageGroup','gender','baseColour','displayCategories','productDescriptors']]

In [9]:
product_info.info

<bound method DataFrame.info of           id                             productDisplayName    variantName  \
0      10000       Palm Tree Girls Sp Jace Sko White Skirts    SP JACE SKO
1      10001   Palm Tree Kids Girls Sp Jema Skt Blue Skirts    SP JEMA SKT
2      10002         Palm Tree Kids Sp Jema Skt Blue Skirts    SP JEMA SKT
3      10003         Nike Women As Nike Eleme White T-Shirt  AS NIKE ELEME
4      10004              Nike Men As 7 Sw Temp Grey Shorts   AS 7 SW TEMP
...      ...                                            ...            ...
44441   9995  Gini And Jony Girls Su Scotia Sko Pink Skirts  SU SCOTIA SKO
44442   9996         Palm Tree Girls Sp Jelly Top Blue Tops   SP JELLY TOP
44443   9997         Palm Tree Girls Hs Livia Top Blue Tops   HS LIVIA TOP
44444   9998         Palm Tree Girls Hs Livia Top Pink Tops   HS LIVIA TOP
44445   9999    Palm Tree Kids Girl Mm Merlin Top Blue Tops  MM MERLIN TOP

           ageGroup gender baseColour  \
0        Kids-Girls  Women      White
1        Kids-Girls  Women       Blue
2        Kids-Girls  Women       Blue
3      Adults-Women  Women      White
4        Adults-Men    Men       Grey
...             ...    ...        ...
44441    Kids-Girls  Women       Pink
44442    Kids-Girls  Women       Blue
44443    Kids-Girls  Women       Blue
44444    Kids-Girls  Women       Pink
44445    Kids-Girls  Women       Blue

                                       displayCategories  \
0      Bottomwear,Casual Wear and Clearance,Casual We...
1      Bottomwear,Casual Wear and Clearance,Casual We...
2      Bottomwear,Casual Wear and Clearance,Casual We...
3                                    Tshirts,Sports Wear
4                                            Sports Wear
...                                                  ...
44441  Bottomwear,Casual Wear and Clearance,Sale and ...
44442  Casual Wear and Clearance,Sale and Clearance,C...
44443  Casual Wear and Clearance,Sale and Clearance,C...
44444  Casual Wear and Clearance,Sale and Clearance,C...
44445                                   Casual Wear,Sale

                                      productDescriptors
0      {'description': {'descriptorType': 'descriptio...
1      {'description': {'descriptorType': 'descriptio...
2      {'description': {'descriptorType': 'descriptio...
3      {'description': {'descriptorType': 'descriptio...
4      {'description': {'descriptorType': 'descriptio...
...                                                  ...
44441  {'description': {'descriptorType': 'descriptio...
44442  {'description': {'descriptorType': 'descriptio...
44443  {'description': {'descriptorType': 'descriptio...
44444  {'description': {'descriptorType': 'descriptio...
44445  {'description': {'descriptorType': 'descriptio...

[44446 rows x 8 columns]>

In [10]:
product_info.head()

,id,productDisplayName,variantName,ageGroup,gender,baseColour,displayCategories,productDescriptors
0,10000,Palm Tree Girls Sp Jace Sko White Skirts,SP JACE SKO,Kids-Girls,Women,White,"Bottomwear,Casual Wear and Clearance,Casual We...",{'description': {'descriptorType': 'descriptio...
1,10001,Palm Tree Kids Girls Sp Jema Skt Blue Skirts,SP JEMA SKT,Kids-Girls,Women,Blue,"Bottomwear,Casual Wear and Clearance,Casual We...",{'description': {'descriptorType': 'descriptio...
2,10002,Palm Tree Kids Sp Jema Skt Blue Skirts,SP JEMA SKT,Kids-Girls,Women,Blue,"Bottomwear,Casual Wear and Clearance,Casual We...",{'description': {'descriptorType': 'descriptio...
3,10003,Nike Women As Nike Eleme White T-Shirt,AS NIKE ELEME,Adults-Women,Women,White,"Tshirts,Sports Wear",{'description': {'descriptorType': 'descriptio...
4,10004,Nike Men As 7 Sw Temp Grey Shorts,AS 7 SW TEMP,Adults-Men,Men,Grey,Sports Wear,{'description': {'descriptorType': 'descriptio...

In [11]:
product_info.isnull().sum()

id                       0
productDisplayName       7
variantName              7
ageGroup                 1
gender                   0
baseColour              15
displayCategories     5792
productDescriptors       0
dtype: int64

In [12]:
product_info.dropna(inplace=True)

In [13]:
product_info.duplicated().sum()

0

In [14]:
product_info.iloc[1].productDescriptors

'{\'description\': {\'descriptorType\': \'description\', \'value\': \'<p><strong>Wash Care</strong><br /> <span style="font-style: normal; font-weight: normal;">Machine Wash separately in cold water<br /> Use mild detergent<br /> Do not Bleach<br /> Avoid Soaking<br /> Remove promptly<br /> Line Dry inside out in shade<br /> Warm iron only<br /> Do Not Iron Directly on Print/embroidery</span></p>\'}}'

In [15]:
import ast
typ_chk=ast.literal_eval(product_info.iloc[0].productDescriptors)

In [16]:
type(typ_chk)

dict

In [17]:
typ_chk=typ_chk['description']['value']

In [18]:
from bs4 import BeautifulSoup
clean = BeautifulSoup(typ_chk, "lxml").text
clean

'Wash Care Machine Wash separately in cold water Use mild detergent Do not Bleach Avoid Soaking Remove promptly Line Dry inside out in shade Warm iron only Do Not Iron Directly on Print/embroidery'

In [19]:
def convert(obj):
    try:
        typeConv=ast.literal_eval(obj)
        typeConv=typeConv['description']['value']
        cleanText = BeautifulSoup(typeConv, "lxml").text
    except:
        cleanText='a'
    return cleanText

In [20]:
product_info['productDescriptors']=product_info['productDescriptors'].apply(convert)
print('complete')

complete

In [21]:
product_info.productDescriptors[9]

"Composition Red round neck t-shirt with short sleeves, made of  100% cotton, has fabric tape detailing on the inseam of the neckline, graphic print on the front and nike swoosh printed on the left sleeve  Fitting Regular  Wash care Machine wash in cold water at 30 degrees with like colours Do not use bleach or softeners Remove immediately Do not allow to lay on itself when wet Tumble dry low Cool iron Do not iron directly on print/trims/ logo Do not dry clean  When you're in the mood to look casual and hip, try this red t-shirt from nike. You just cannot go wrong in this tee, what with its clean silhouette and attractive graphic print. Perfect for all-day wear. Pair it with jeans or shorts and walk around in style.\n441200-063"

In [22]:
product_info.duplicated().sum()

0

In [23]:
product_info.head()

,id,productDisplayName,variantName,ageGroup,gender,baseColour,displayCategories,productDescriptors
0,10000,Palm Tree Girls Sp Jace Sko White Skirts,SP JACE SKO,Kids-Girls,Women,White,"Bottomwear,Casual Wear and Clearance,Casual We...",Wash Care Machine Wash separately in cold wate...
1,10001,Palm Tree Kids Girls Sp Jema Skt Blue Skirts,SP JEMA SKT,Kids-Girls,Women,Blue,"Bottomwear,Casual Wear and Clearance,Casual We...",Wash Care Machine Wash separately in cold wate...
2,10002,Palm Tree Kids Sp Jema Skt Blue Skirts,SP JEMA SKT,Kids-Girls,Women,Blue,"Bottomwear,Casual Wear and Clearance,Casual We...",Wash Care Machine Wash separately in cold wate...
3,10003,Nike Women As Nike Eleme White T-Shirt,AS NIKE ELEME,Adults-Women,Women,White,"Tshirts,Sports Wear",Composition White high collared t-shirt made o...
4,10004,Nike Men As 7 Sw Temp Grey Shorts,AS 7 SW TEMP,Adults-Men,Men,Grey,Sports Wear,CompositionGrey shorts made of 86% polyester a...

In [24]:
product_info['tags']=product_info['productDisplayName']+product_info['variantName']+product_info['ageGroup']+product_info['gender']+product_info['displayCategories']+product_info['baseColour']+product_info['productDescriptors']

In [25]:
product_info.head()

,id,productDisplayName,variantName,ageGroup,gender,baseColour,displayCategories,productDescriptors,tags
0,10000,Palm Tree Girls Sp Jace Sko White Skirts,SP JACE SKO,Kids-Girls,Women,White,"Bottomwear,Casual Wear and Clearance,Casual We...",Wash Care Machine Wash separately in cold wate...,Palm Tree Girls Sp Jace Sko White SkirtsSP JAC...
1,10001,Palm Tree Kids Girls Sp Jema Skt Blue Skirts,SP JEMA SKT,Kids-Girls,Women,Blue,"Bottomwear,Casual Wear and Clearance,Casual We...",Wash Care Machine Wash separately in cold wate...,Palm Tree Kids Girls Sp Jema Skt Blue SkirtsSP...
2,10002,Palm Tree Kids Sp Jema Skt Blue Skirts,SP JEMA SKT,Kids-Girls,Women,Blue,"Bottomwear,Casual Wear and Clearance,Casual We...",Wash Care Machine Wash separately in cold wate...,Palm Tree Kids Sp Jema Skt Blue SkirtsSP JEMA ...
3,10003,Nike Women As Nike Eleme White T-Shirt,AS NIKE ELEME,Adults-Women,Women,White,"Tshirts,Sports Wear",Composition White high collared t-shirt made o...,Nike Women As Nike Eleme White T-ShirtAS NIKE ...
4,10004,Nike Men As 7 Sw Temp Grey Shorts,AS 7 SW TEMP,Adults-Men,Men,Grey,Sports Wear,CompositionGrey shorts made of 86% polyester a...,Nike Men As 7 Sw Temp Grey ShortsAS 7 SW TEMPA...

In [26]:
new_df=product_info[['id','tags']]
new_df.head()

      id                                               tags
0  10000  Palm Tree Girls Sp Jace Sko White SkirtsSP JAC...
1  10001  Palm Tree Kids Girls Sp Jema Skt Blue SkirtsSP...
2  10002  Palm Tree Kids Sp Jema Skt Blue SkirtsSP JEMA ...
3  10003  Nike Women As Nike Eleme White T-ShirtAS NIKE ...
4  10004  Nike Men As 7 Sw Temp Grey ShortsAS 7 SW TEMPA...

In [27]:
import nltk
from nltk.stem.porter import PorterStemmer
ps=PorterStemmer()

def stem(text):
    y=[]
    for i in text.split():
        y.append(ps.stem(i))
    return " ".join(y)

In [28]:
new_df['tags']=new_df['tags'].apply(stem)

C:\Users\denni\AppData\Local\Temp\ipykernel_5920\3514595201.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags']=new_df['tags'].apply(stem)

In [29]:
new_df.to_csv('data_content_based.csv', header=True, index=False)
print('File Saved')

File Saved

In [30]:
df=pd.read_csv('data_content_based.csv')
df.head()

      id                                               tags
0  10000  palm tree girl sp jace sko white skirtssp jace...
1  10001  palm tree kid girl sp jema skt blue skirtssp j...
2  10002  palm tree kid sp jema skt blue skirtssp jema s...
3  10003  nike women as nike elem white t-shirta nike el...
4  10004  nike men as 7 sw temp grey shortsa 7 sw tempad...